@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  background-color: bisque;
  margin-bottom: 20px;
  position: static;
}