* {
    margin: 0;
    padding: 0;
}

@mixin flexCenter {
    display: flex;

    justify-content: space-evenly;
    gap: 10px;


}
@mixin flexStart ($gap, $jus-cont) {
    display: flex;

    justify-content: $jus-cont;
    gap: $gap;


}