@import "../../../../style/style.scss";

.container-element {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;

}
.div-get {
    width: 50%;
    display: flex;

    flex-wrap: wrap;

}

.form--wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    gap: 10px;
}

.div__div-get {
width: 100%;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    & span,
    & input {
        gap: 20px;
    }

    & span:not(:first-child) {
        // margin-left: 20px;
        width: 100px;
    }
}

.div__div-get:nth-child(2n) {
    background-color: gray;
}

.size {
    width: 50px;
}
.container-getANDshowPdf {
    @include flexStart(20px, flex-start);
    width: 100%;
}

.conteiner-showPdfFile {
    position: relative;
    width: 45%;
    margin-right: 10px;
    // height: 400px;

}

.iframe {
    position: absolute;
    // top: 10px;
    height: 400px;
}