@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container-element {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.div-get {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.form--wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  gap: 10px;
}

.div__div-get {
  width: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.div__div-get span, .div__div-get input {
  gap: 20px;
}
.div__div-get span:not(:first-child) {
  width: 100px;
}

.div__div-get:nth-child(2n) {
  background-color: gray;
}

.size {
  width: 50px;
}

.container-getANDshowPdf {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.conteiner-showPdfFile {
  position: relative;
  width: 45%;
  margin-right: 10px;
}

.iframe {
  position: absolute;
  width: 90%;
  height: 90%;
  cursor: col-resize;
}

.container {
  position: relative;
}

.resizeable {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15px;
  min-height: 15px;
}

.resizer {
  position: absolute;
  background: black;
}

.resizer-r {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: 5px;
}

.resizer-l {
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  width: 5px;
}

.resizer-t {
  cursor: row-resize;
  height: 5px;
  left: 0;
  top: 0;
  width: 100%;
}

.resizer-b {
  cursor: row-resize;
  height: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
}