.div-get {
  width: 80%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.form--wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  gap: 10px;
}

.div__div-get {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-grow: 20px;
}
.div__div-get span, .div__div-get input {
  gap: 20px;
}

.size {
  width: 50px;
}