@import'../../../style/style.scss';

$width: calc(100% - 120px);

.wropper--div {
    margin: 20px;
}
.eelem {
    margin-left: 50px;
}
.form--add {
    width: 250px;
    line-height: 1.8rem;

    & label {
        display: inline-block;
        width: 70px;
        margin-right: 10px;
    }

    & input {
        width: $width;
    }
}
.conteiner--warehouse {
    @include flexStart(40px, flex-start);
    width: 100%;

}

.div-getWorhouse {
    width: 50%;
}

.conteiner-showPdfFile {
    width: 100%;
}

.container--element {
    display: flex;
    flex-direction: column;

}

.container--user {
    display: flex;
    flex-direction: column;

}

.container--project {
    display: flex;
    flex-direction: column;

}

.dateWarehouse {
    margin-right: 10px;
    box-sizing: content-box;
}

.conteiner-showPdfFile-warehouse {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 45%;
    margin-right: 10px;
    height: 400px;

}

.iframeWorehouse {
    position: absolute;
    top: 30px;
cursor: col-resize;
}

.div {
    width: 50px;
    height: 50px;
    background-color: aqua;
}

.react-date-picker__inputGroup {
    min-width: calc((4px * 3) + 0.84em * 8 + 0.217em * 2);
}

.div__div__get--namber {
    width: 50px;
}
span {
    margin: 0 15px;
}

br {
    border: 2px solid rgb(235, 20, 20);
}