@import "../../../style/style.scss";

.main-header {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    font-weight: 600;
    font-size: 1.4rem;
margin-left: 20px;
}


.main__header--nav {
    margin: auto 0;

}