@import'../../../style/style.scss';

$width: calc(100% - 120px);

.wropper--div {
    margin: 20px;
}

.form--add {
    width: 250px;
    line-height: 1.8rem;

    & label {
        display: inline-block;
        width: 70px;
        margin-right: 10px;
    }

    & input {
        width: $width;
    }
}
.label_name {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 20px;
    box-sizing: border-box;
}

.span--element,
.span--project,
.div--button,
.span--date,
.span--number {
    width: 110px;
}

.span--id {
    width: 40px;
}